@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    background: #171d1c;
}

#bienvenido{
    display: flex;
    font-family: "Roboto", sans-serif;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    img{
        width: 300px;
    }
    h3{
        color: #5fbff9;
        font-size: 2em;
    }
    h2{
        color: #5fbff9;
        font-size: 3em;
    }
    button{
        border: 1px solid #16bac5;
        padding: 15px;
        border-radius: 10px;
        background: #efe9f4;
        color: #171d1c;
        cursor: pointer;
    }
}